body, svg{
    font-family: Lato;
    color: #353535;
}
.textBinder, .dataBinder, .widthTester{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0;
}
.widthTester{
    display: none;
}
.textBinder.placeMain, .textBinder.placeSecondary{
    padding-left: 25px;
    font-size: 24px;
}
.textBinder.race{
    font-size: 24px;
}
.barLabel{
    font-family: Lato;
    font-size: 16px;
    /*opacity: 0;*/
}
.barLabel tspan{
    fill: #353535 !important;
}
.barLabel.hidden{
    opacity: 0;
}
.barLabel.activeRace, .barLabel.hover, .barLabel.hover.hoverChart, .barLabel.hover.hoverChart.activeRace{
    font-weight: bold;
}
.barLabel, .barLabel.hoverChart, .barLabel.hoverChart.activeRace{
    font-weight: normal;
}

.bar.placeMain, .bar.placeMain.hoverChart, .bar.placeMain.hoverChart.activeRace{
    fill: #A2D4EC;
    stroke: #fff;
}
.bar.placeMain.activeRace, .bar.placeMain.hover, .bar.placeMain.hover.hoverChart{
    fill: #1696d2;

}
.bar.hidden, .bar.collapsed{
    opacity: 0;
}
.bar.placeSecondary, .bar.placeSecondary.hoverChart, .bar.placeSecondary.hoverChart.activeRace{
    fill: #BCDEB4;
    stroke: #fff;
}
.bar.placeSecondary.activeRace, .bar.placeSecondary.hover, .bar.placeSecondary.hover.hoverChart{
    fill: #55B748;

}
.tick text{
    font-family: 'Lato';
    font-size: 16px;
}
.tick text, .tick text.hoverChart, .tick text.hoverChart.activeRace{
    font-weight: normal;
}
.tick text.activeRace, .tick text.hover, .tick text.hover.hoverChart, .tick text.hover.activeRace.hoverChart{
    font-weight: bold;
}

.axis.y path, .axis.y .tick line{
    display: none;
}
.avgLabel{
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    white-space: nowrap;
}
.stackedAxisLabel{
    font-size: 14px;
    fill: #9d9d9d;
    font-weight: 400;
}




#placeClose{
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 7px;
    right: 0px;
    position: absolute;
    cursor: default;
    background: white;
    background-image: url('../img/placeSearch.png');
    background-size: cover;
}
#placeClose.active{
    opacity: 1;
    cursor: pointer;
    background-image: url('../img/placeClose.png');
}
#placeClose.searching{
    opacity: 1;
    cursor: pointer;
    background-image: url('../img/placeSecondarySearchActive.png');
}







/*Share box*/
.shareRow{
    margin-top: 26px;
}
.shareRow span{
    display: inline-block;
    float: left;
}
.shareText{
    margin-right: 4px;
}
.shareIcon{
    margin-left: 8px;
    position: relative;
    top: 5px;
    display: inline-block;
}
.fbShare{
    background-image: url('../img/fb.png');
    background-size: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.fbShare:hover{
    background-image: url('../img/fbActive.png')
}
.twitterShare{
    background-image: url('../img/twitter.png');
    background-size: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.twitterShare:hover{
    background-image: url('../img/twitterActive.png')
}
.emailShare{
    background-image: url('../img/email.png');
    background-size: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.emailShare:hover{
    background-image: url('../img/emailActive.png')
}
.shareIcon.head{
    background-size: 32px;
    width: 32px;
    height: 32px;
    top: -3px;
    margin-left: 10px;
}
.shareIcon.head.emailShare{
    margin-right: 15px;
}







/********** TOGGLE STYLES ***************/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 67px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E4E4E4;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0;
    bottom: 0;
    background-color: #898787;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    background-color: #1696d2;
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 11px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggleGroup {
    width: 275px;
    font-size: 1rem;
}

.toggleGroup > p {
    font-size: 1.125rem;
    border-bottom: 1px solid #1696d2;
}

.toggleContainer {
    position: relative;
    width: 100%;
    height: 40px;
}
.toggleContainer.tc15{
    left: 600px;
}

.toggleLabel {
    display: block;
    color: #696969;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    right: 83px;
    top: -6px;
}

.toggle.on {
    background-position: -41px 0px;
        background-color: #1696d2;

}
.toggle.off {
    background-position: .5px 0px;
    background-color: #9c9c9c;
}
.toggle {
    background-image: url(../img/toggle-bg.png);
    background-repeat: no-repeat;
    width: 72px;
    height: 30px;
    border-radius: 20px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    position: relative;
    -webkit-transition: background-position .1s ease-in;
    -moz-transition: background-position .1s ease-in;
    -o-transition: background-position .1s ease-in;
    transition: background-position .1s ease-in;
    right: 0px;
    top: -7px;
    position: absolute;
}















body, html{
    margin: 0px;
    overscroll-behavior: none;
}
body.hideScroll {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    overflow-y: hidden;
    position: fixed;
}

body.hideScroll::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}
body, svg{
    font-family: Lato;
    color: #353535;
}
a{
    color: #1696d2;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p.correction {
  font-style: italic;
  margin: 30px 0px 70px 0px;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 20px;
}
select{
    display: none;
}
::placeholder {
  color: #9d9d9d;
  font-style: italic;
}
.button{
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
}
.button.footer{
    background: none;
    color: #353535;
    border: 1px solid #353535;
    float: left;
    font-size: 14px;
    margin-bottom: 20px;
}
.button.footer:hover{
    color: #fff;
    border: 1px solid #12719E;
    background: #12719E;
}
.button.white{
    color: #1696d2;
    border: 2px solid #1696d2;
    background: #fff;
}
.button.white:hover{
    border: 2px solid #12719E;
    color: #12719E;
}
.button.blue{
    color: #fff;
    border: 2px solid #1696d2;
    background: #1696d2;
}
.button.blue:hover{
    border: 2px solid #12719E;
    background: #12719E;
}
.button.disabled{
    background: #d2d2d2;
    border: 2px solid #dcdbdb;
    color: #9d9d9d;
    pointer-events: none;
}
.backButton{
    position: fixed;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: white;
    border-top: 30px solid white;
    border-left: 24px solid white;
    background: white;
    z-index: 10000;
    width: 140px;
}
.backButton img{
    height: 20px;
    display: inline-block;
}
.backButton div{
    font-size: 24px;
    color: #1696d2;
    display: inline-block;
    position: absolute;
    top: -6px;
    margin-left: 11px;
}
.startOver{
    position: fixed;
    border-top: 25px solid #fff;
    right: 0px;
    top: 0px;
    border-right: 30px solid #fff;
    background: #fff;
    cursor: pointer;

}
.startOver div{
    color: #696969;
    font-size: 24px;
    display: inline-block;
    float: left;
}
.startOver img{
    display: inline-block;
    float: left;
    width: 20px;
    margin-left: 10px;
    position: relative;
    top: 7px;
}
.loaderFixedHeader{
    position: fixed;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 0px;
    background: white;
    z-index: 3;
}






/********************************************/
/************* LOADER TEXT ****************/
/******************************************/

footer {
    position: relative;
    margin-top: -46px;
    background-color: #f1f2f2;
    padding-bottom: 25px;
    bottom: 0;
    overflow: hidden;
    height:auto;
    z-index: 997;

}
#readmoreList{
    padding-inline-start: 16px;
}
#readmoreHeading{
    margin-top: 30px;
}


footer .content{
    width: calc(100% - 40px);
    max-width: 750px;
}


h5 {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 700;
}

#left {
    float: left;
    width: 45%;
    padding-left: 0px;
    padding-right:0px;
}

#right {
    margin: 0 auto;
    width: 500px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 50px;
    font-size:14px;
    line-height: 1.3;
}

.footerButton{
    float: left;
    width: 135px;
    border: 1px solid #333;
    cursor: pointer;
    font: 13px Lato;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-decoration: none !important;
    color: #333 !important;
    margin-top: 5px;
}
.footerButton:hover{
    background: #fdbf11;
    color: #fff !important;
}
.footerButton.researchButton{
    margin-left: 15px;
}
.footerTopP{
    clear: both;
    padding-top: 14px;
}
#learnMore{
    display: inline-block;
    padding-bottom: 33px;
    padding-top: 9px;
}
#learnMore a{
  display: inline-block;
  line-height: 20px;
}

footer p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px !important;
}

footer h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 60px;
}

footer h3, footer h4{
    font-weight: 700;
    margin-top: 60px;
}

.credits {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 16px;
    font-style: italic;
}

.job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 20px;
}

.urbanstatement {
  font-style: italic;
  color: #848081;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 40px;
}

footer{
  display: block;
    float: left;
    width: 100%;
    z-index: 99999;
}
footer p{
  clear: both;
}
.footerButton{
  margin-bottom: 30px;
}
.readResearchButton{
  margin-right: 10px;
}
.content{
    width:1100px;
    margin: 0 auto;
    padding: 0px 30px;

}
form{
    display: none;
}
.iconContainer{
    display: inline-block;
}
.inlineIcon{
    width: 30px;
    margin-right: 7px;
    position: relative;
    margin-left: 7px;
    top: 7px;
}
.headerIcon{
    width: 40px;
    margin-right: 13px;
    position: relative;
    top: 12px;
    margin-left: -58px;
}
.resultsHeader.maps .headerIcon{
    margin-left: -53px;
}







/********************************************/
/************* LOADER TEXT *****************/
/******************************************/

#loaderContainer{
    color: #353535;
    width: 100%;
    /*height: 1000px;*/
    /*background: white;*/
    /*position: absolute;*/
    top: 0px;
    display: none;
}
.hiddenSection{
    display: none !important;
}
.loaderHeader{
    font-weight: bold;
}
h2.loaderHeader{
    font-size: 40px;
    margin-top: 192px;
    margin-bottom: 32px;
    text-align: center;
}
h3.loaderSubHeader{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: -10px;
}
h4.datePublished{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    margin-top: -20px;
    margin: 0 auto;
    text-align: center;
    color: #696969;
}
.loaderHeader span.weak{
    font-weight: normal;
}

.inputLabel{
    font-size: 18px;
    margin-bottom: 7px;
}

.loaderNote.filters{
    font-size: 16px;
    font-style: italic;
    width: 322px;
    line-height: 146%;
    margin-top: -20px;
    margin-bottom: 30px;
    display: none;
}
.loaderNote.small.filters{
    font-size: 12px;
}
.loaderNote.biggun.filters{
    margin-bottom: 42px;
}
.loaderNote.active{
    display: block;
}
.loaderNote{
    white-space: normal;
}

/********************************************/
/************* LOADER LAYOUT ****************/
/********************************************/

#fileInput, #fileSubmit{
    display: none
}
#loaderContainer{
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 6;
}
.loaderSection{
    position: absolute;
    display: none;
    width: 880px;
    background: white;
    top: 0px;
    left: calc(50% - 440px);
    z-index: 6;
}
.loaderSection.loading{
    padding-bottom: 200%;
}
.loaderSection.filters p{
    font-style: italic;
}
.loaderSection.active{
    display: block;
}
.advancedButtonRow{
    display: table;
    margin: 0 auto;
    clear: both;
}
.advancedButtonRow .button{
    width: 130px;
    text-align: center;
}


/********************************************/
/************* HOME ****************/
/********************************************/

.loaderHome{
    margin: 0 auto;
    width: 770px;
    font-size: 20px;
    line-height: 162.5%;
/*    line-height: 146%;
    text-align: center;
    font-size: 24px;*/
    font-weight: 400;
}












header-pinned/*HEADER*/
body{
    margin:0px;
}
#header-pinned {
    font: 16px Lato;
    color: #333;
    font-weight: 400;
    /* margin-right: 100px; */
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #eee;
    z-index: 7;
    -webkit-transition: top 0.25s linear;
    -moz-transition: top 0.25s linear;
    -o-transition: top 0.25s linear;
    transition: top 0.25s linear;
}

.is-visible {
    top: 0px !important;
}

#header-pinned .content {
    height: 49px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header-pinned *{
    color:#333;
    font-weight: 300;
    text-decoration: none;
}

#header-pinned  .subnav a {
    color: #1696d2;
}

#header-pinned .subnav a:hover{
    color:#000;
}

#header-pinned .site-logo {

    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    left: 10px;
    margin-top: 7px;
    background: url(https://www.urban.org/sites/all/themes/urban/images/logo-mini-dark.png) no-repeat;
    background-size: 34px 34px;
}

#header-pinned .title {
    font-size: 14px;
    line-height: 49px;
    margin: 0 65px 0 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#header-pinned .title {
    font-size: 20px;
    margin-left: 80px;
}

#header-pinned .title span,
#header-pinned .title a {
    display: inline;
}

/*#header-pinned .title a:hover{
     color:#1696d2;
}


.subnav a {
   color:#1696d2;
}*/
#header-pinned .share-icons {
    background-color: transparent;
    width: 69px;
    height: 50px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 60px;
    position: absolute;
    right: 0;
}

#header-pinned .share-icons .shareThisP {
    border-top: 0;
    border-left: 1px solid #e6e5e5;
    height: 43px;
    padding: 9px 0 0;
}

#header-pinned .share-icons .shareThisB {
    float: none;
}

#header-pinned .share-icons .shareThisB {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -2396px;
    height: 32px;
    width: 32px;
    float: none;
    margin: 0 auto;
}

#header-pinned .share-icons .shareThisB:hover {
    background-position: 0 -1948px;
}

#header-pinned .share-icons .shareThisW {
    display: none;
    float: none;
    top: 50px;
    right: 0;
    left: auto;
    width: 300px;
    text-align: right;
    border: 0;
    background: transparent;
}

#header-pinned .share-icons .shareThisW {
    background-color: #fff;
    /* border: 1px solid #e6e5e5; */
    position: absolute;
    top: 50px;
    left: -100px;
    padding: 5px;
    border-top: 0;
    width: 160px;
    z-index:3;
}

#header-pinned .share-icons .addthis_toolbox {
display: inline-block;
    width: auto;
    /* border: 1px solid #e6e5e5; */
    border-top: 0;
    background: #fff;
    padding: 10px 10px 0 0;
    margin: 0 auto;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_facebook {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -2056px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_facebook:hover {
    background-position: 0 -1609px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_twitter {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1169px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_twitter:hover {
    background-position: 0 -1577px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1641px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email:hover {
    background-position: 0 -1379px;
}

#header-pinned .share-icons .at15t_google_plusone_share.at16t_google_plusone_share,
#header-pinned .share-icons .addthis_button_google_plusone_share {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1719px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1449px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email:hover {
    background-position: 0 -1271px;
}

#header-pinned .share-icons [class^="addthis_button_"] {
    display: inline-block !important;
    margin: 0 0 0 10px;
}

#header-pinned .share-icons .addthis_toolbox a {
    margin-bottom: 5px;
}

.at_a11y {
    display: none;
}

.header-links {
    height: 40px;
    background-color: #fff;
    width: 100%;
}

.header-links ul {
    height: 40px;
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.header-links ul li {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 22%;
}

#subhead{
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 50px;
    height: 35px;
    background: rgba(255,255,255, .9);
    border-bottom: solid 1px #ccc;

}

ul{
/*        list-style: outside none none;
    width: 100%;
    margin: 0 auto;
    text-align: center;*/
}

#subhead ul li{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding-left: 1%;

}

#subhead a{
   color:#333;
   display: block;
   padding:10px;

}

#subhead .active {
  border-bottom: solid 3px #1696d2;
    color:#1696d2;
    padding-bottom: 8px;
}

#subhead a:hover{
  background-color:rgba(22,150,210, .8);
  color:#fff;


}



.header-links a {
    color: #fff;
}

.header-links ul li:hover,
.header-links ul li.hover_effect {
    background-color: rgba(0, 155, 210, .8);
}

/*end css for header*/



















 /*Layout*/
#lastPBeforeMenu{
    margin-bottom: 70px;
}
#lastH3BeforeMenu{
    margin-top: 48px;
}
 .chartTitle{
    border-bottom: 1px solid #D2D2D2;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-weight: bold;
 }
 .chartTitle.ho_rate, .chartTitle.mean_hv{
    margin-bottom: -3px;
 }
 .chartsContainer{
    display: inline-block;

 }
 .chartsContainer.mean_hv{
    margin-top: -76px;
}
 .chartContainer{
    width: 330px;
    display: inline-block;
    float: left;
 }
 .chartContainer.hhs, .chartContainer.ho_rate, .chartContainer.mean_hv{
    margin-right: 100px;
 }
 .chartsContainer.topCharts{
    margin-bottom: 0px;
    display: inline-block;
 }
 .chart svg{
    cursor: pointer;
 }
 .chart.hw svg, .chart.hhs svg{
    margin-top: -21px;
 }
 .chart{
    position: relative;
 }
 .shareTtContainer{
    float: left;
}
.shareTtContainer.topShare{
    padding: 40px 35px;
    background: #f5f5f5;
    margin-top: -68px;
    margin-bottom: 60px;
    width: calc(100% - 70px);
}
.shareTtContainer.hvShare, .shareTtContainer.hoShare{
    float: left;
    width: 320px;
    font-size: 20px;
    margin-top: 32px;
    font-weight: 400;
}


#mainMenuContainer{
    font-size: 30px;
    background: #fff;
    z-index: 6;
    width: 770px;
    font-weight: 300;
    text-transform: uppercase;
    overflow: initial;
    white-space: nowrap;
    position: relative;
}
 .placeMain.placeMenu{
    display: inline-block;
    position: relative;
    margin-left: 4px;
    /*position: fixed;*/
/*    top: 56px;
    left: 140px;*/
 }
 input#placeMain{
    font-family: 'Lato';
    font-size: 24px;
    border: none;
    color: #353535;
    border-bottom: 3px solid #1696d2;
    /* max-width: 310px; */
    padding-left: 0px;
    padding-bottom: 6px;
    padding-right: 45px;
    text-overflow: ellipsis;
 }
 .placeSearch.placeMain{
    width: 20px;
    position: absolute;
    top: 7px;
    right: 0px;
    background: white;
 }
 #raceMenu-button{
    font-family: 'Lato';
    font-size: 24px;
    font-weight: normal;
    color: #353535;
    width: 240px;
    padding-left: 3px;
    margin-right: 4px;
    background: none;
    border: none;
    border-bottom: 3px solid #353535;
    padding-bottom: 6px;
    padding-top: 4px;
    text-transform: initial;
}
#raceMenu-button, input{
    border-radius: 0px;
}
.ui-selectmenu-text{
    margin-right: 0px;
    text-overflow: unset;
    overflow: initial;
}
.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s{
    background-image: url('../img/menuDown.png');
    background-size: 20px;
    background-position: center;
    width: 20px;
    top: 8px;
    right: -22px;
}
.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s.open{
    background-image: url('../img/menuUp.png');
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 1px solid #1696d2;
    background: #1696d2;
}
.ui-menu .ui-menu-item{
    font-family: Lato;
    font-size: 16px;
}
.ui-menu-item.disabled{
    pointer-events: none;
    color: #9d9d9d;
    font-style: italic;
}
 #secondaryMenuContainer{
    position: relative;
    top: -40px;
    right: -770px;
    width: 295px;
    background: white;
    font-size: 16px;
    display: -ms-grid;
    display: grid;
    margin-bottom: -80px;
 }
 #secondaryHeader{
    font-size: 18px;
    font-weight: bold;
 }
 .secondaryRow{
    display: block;
    clear: both;
    margin-top: 13px;
    display: table;
    position: relative;
 }
 .secondaryRow span{
    display: inline-block;
    float: left;
}
.secondaryRow span.placeMain.placeLabel{
    max-width: 166px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 2px solid black;
    padding-left: 51px;
    padding-right: 5px;
    position: absolute;
    left: 67px;
    height: 29px;
}
.placeSecondary.placeLabelFiller{
    display: none;
}
.placeMain.placeLabelFiller{
    display: inline-block;
}
.placeMainTT{
    border-bottom: 3px solid #1696d2;
    padding-bottom: 2px;
}
.placeSecondaryTT{
    border-bottom: 3px solid #55B748;
    padding-bottom: 2px;
}
#placeSecondary{
    width: 160px;
    font-family: 'Lato';
    font-size: 24px;
    border: none;
    border-bottom: 3px solid #55B748;
    padding-bottom: 4px;
    padding-right: 45px;
}

.key{
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 6px;
    top: 6px;
    position: relative;
}
.keyActive.keyMain{
    background: #1696d2;
}
.keyDeactive.keyMain{
    background: #A2D4EC;
}
.keyActive.keySecondary{
    background: #55B748;
}
.keyDeactive.keySecondary{
    background: #BCDEB4;
}
.secondaryText{
    margin-right: 10px;
}

input#placeSecondary.defaultText{
    font-style: italic;
    color: #9d9d9d;
    width: 160px !important;
}












/* mobile stuff */
@media(max-width: 900px){
    .widthTester.w900{
        display: block;
    }
    .loaderHome, .chartsContainer{
        width: 500px;
    }
    #mainMenuContainer{
        width: 500px;
        font-size: 20px;
        font-weight: normal;
        text-transform: initial;
    }
    #raceMenu-button, input#placeMain, .textBinder.placeMain, .textBinder.placeSecondary, #placeSecondary{
        font-size: 20px;
        font-weight: bold;
    }
    .chartContainer{
        width: 500px;
    }
    .shareTtContainer.hvShare, .shareTtContainer.hoShare{
        width: calc(100% - 70px);
        padding: 40px 35px;
        background: #f5f5f5;
        margin-top: -85px;
        margin-bottom: 50px;
    }
    footer .content {
        width: 100%;
        max-width: 500px;
        padding: 0px;
    }
    #breakerMobile{
        display: block;
    }
    .secondaryRow{
        margin-top: 2px;
    }
    h2.loaderHeader{
        line-height: 1.2em;
    }
}
@media(max-width: 600px){
    #firstP{
        margin-top: 36px;
    }
    .widthTester.w600{
        display: block;
    }
    .loaderHome{
        width: calc(100% - 46px);
    }
    .chartsContainer{
        width: 100%;
    }
    .chartsContainer.mean_hv {
        margin-top: -28px;
    }
    #mainMenuContainer{
        width: 100%;
        font-size: 20px;
        font-weight: normal;
        text-transform: initial;
        background: #ffffff;
        margin-left: -23px;
        padding-left: 23px;
        padding-right: 23px;
    }
    .menuBgEl{
        background-color: #ffffff;
    }
    input#placeSecondary, input#placeSecondary:focus{
        /*max-width: 140px;*/
        text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
/*    #raceMenu-button, input#placeMain, .textBinder.placeMain, .textBinder.placeSecondary, #placeSecondary{
        font-size: 20px;
        font-weight: bold;
    }*/
    .chartContainer{
        width: 100%;
    }
    .shareTtContainer.hvShare, .shareTtContainer.hoShare{
/*        width: 100%;
        padding: 40px 35px;
        background: #f5f5f5;
        margin-top: -85px;
        margin-bottom: 50px;*/
    }
    footer .content {
        width: 100%;
        max-width: 500px;
        padding: 0px;
    }
    .loaderHome{
        font-size: 18px;
    }
    .ui-widget.ui-widget-content {
        left: 0px !important;
    /* display: block !important; */
        width: 100% !important;
    }
    input#placeSecondary.defaultText {
        width: 140px !important;
    }
    .shareTtContainer.topShare, .shareTtContainer.hvShare, .shareTtContainer.hoShare{
        padding: 20px;
        background: #f5f5f5;
        width: calc(100% - 40px);
        font-size: 18px;
        font-weight: normal;
    }
    .shareTtContainer.topShare {
        margin-top: -88px;
        margin-bottom: 109px;
    }
    .chartContainer.hw{
        margin-top: -70px;
    }
    .shareTtContainer.topShare{
        margin-bottom: 40px;
    }
    h3.loaderSubHeader{
        font-size: 24px;
        line-height: 1.2em;
    }
    h2.loaderHeader{
    font-size: 36px;
    margin-top: 81px;
    }
    footer{
        width: calc(100% - 46px);
        padding-left: 23px;
        padding-right: 23px;
        margin-top: -10px;
    }

}
